body{
    background-color:  #ffe6ea;
}


.cabecalho{
    background-color: #ffb3bf;
    text-align: center;
    padding: 10px; 
    border-radius:  5px;
}

.imagem_principal{
    width: 400px;
    border:1px solid black;
    border-radius: 5px;
    box-shadow: 2px 5px #888888;
}

.msg_footer{
    background-color:#ffb3bf;
    text-align: center; 
    padding: 10px;
    border-radius: 5px;
}

ol{
    font-size: 20px;
}