body{
    background-color:  #ffe6ea;
}


.cabecalho{
    background-color: #ffb3bf;
    text-align: center;
    padding: 10px; 
    border-radius:  5px;
}

.imagem_principal{
    width: 400px;
    border: 1px solid rgb(123, 121, 121);
    border-radius: 10px;
    box-shadow: 5px 10px black;
}

.msg_footer{
    background-color:#ffb3bf;
    text-align: center; 
    padding: 10px;
    border-radius: 5px;
}

ol{
    font-size: 20px;
}